:root{
    --colorBackground: hsl(47, 88%, 63%);
    --colorCard: hsl(0, 0%, 100%);
    --colorParagraph: hsl(0, 0%, 50%);
    --colorTitles: hsl(0, 0%, 7%);
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/static/Figtree-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--colorBackground);
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "Figtree";
    font-size: 15px;
}

.card, body, .author{
    display: flex;

}

.card{
    flex-direction: column;
    width: 90%;
    max-width: 330px;
    background-color: var(--colorCard);
    border-radius: 15px;
    border: 1px solid var(--colorParagraph);
    box-shadow: 8px 9px 0 0 var(--colorTitles);
}

.card:hover{
    transform: scale(0.9);
    cursor: pointer;
}
.card:active{
    box-shadow: -8px -9px 0 0 var(--colorTitles);
}

.card-content{
    padding: 15px;
    .illustration{
        width: 100%;
        border-radius: 10px;
        margin-bottom: 15px;
    }
    b{
        background-color: var(--colorBackground);
        padding: 5px 8px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 800;
    }
    small{
        display: block;
        margin-top: 15px;
        font-size: 12px;
        color: var(--colorTitles)
    }
    h1{
        font-size: 22px;
        font-weight: 800;
    }
    h1:hover{
        color: var(--colorBackground);
    }
    p{
        color: var(--colorParagraph);
        margin-top: 0;
        line-height: 20px;
        font-weight: normal;
    }
}

.author{
    align-items: center;
    img{
        height: 35px;
    }
    h3{
        color: var(--colorTitles);
        font-size: 13px;
        margin-left: 5px;
    }
}

